name: Release Please

on:
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      # Use PAT to allow release-please actions to trigger other workflows
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          release-type: python
          token: ${{ secrets.RELEASE_PAT }}

      - name: Enable auto-merge for release PR
        if: ${{ steps.release.outputs.prs_created == 'true' }}
        run: gh pr merge --auto --squash "${{ fromJson(steps.release.outputs.pr).number }}"
        env:
          GH_TOKEN: ${{ secrets.RELEASE_PAT }}
          GH_REPO: ${{ github.repository }}
